<div class="success-container">
  <div class="success-content">
    <h2>Encuesta creada con éxito</h2>
    <p>Comparte o utiliza los siguientes enlaces:</p>

    <div class="link-group">
      <label>Link para responder la encuesta:</label>
      <div class="link-row">
        <input
          pInputText
          [value]="answerUrl"
          class="p-inputtext"
          readonly
          disabled
        />
        <button pButton icon="pi pi-copy" (click)="copyToClipboard(answerUrl)">
          Copiar
        </button>
      </div>
    </div>

    <div class="link-group">
      <label>Link para ver resultados:</label>
      <div class="link-row">
        <input
          pInputText
          [value]="resultsUrl"
          class="p-inputtext"
          readonly
          disabled
        />
        <button pButton icon="pi pi-copy" (click)="copyToClipboard(resultsUrl)">
          Copiar
        </button>
      </div>
    </div>

    <button
      pButton
      icon="pi pi-qrcode"
      label="Compartir Encuesta"
      class="p-button-secondary"
      (click)="showQrDialog = true"
    ></button>
  </div>
</div>

<p-dialog
  header="Código QR"
  [(visible)]="showQrDialog"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  contentStyleClass="qr-dialog-content"
>
  <ngx-qrcode-styling
    [template]="'default'"
    [data]="answerUrl"
    [width]="240"
    [height]="240"
    [qrOptions]="{ errorCorrectionLevel: 'L' }"
  ></ngx-qrcode-styling>
</p-dialog>
