<app-loading *ngIf="loading"></app-loading>
<app-error-message *ngIf="error" [message]="error"></app-error-message>

<div *ngIf="!loading && !error">
  <h2>Encuestas disponibles</h2>

  <div *ngIf="surveys.length === 0">
    <p>No hay encuestas disponibles.</p>
  </div>

  <div class="survey-card" *ngFor="let survey of surveys">
  <h3>{{ survey.title }}</h3>

  <div class="button-group">
    <button pButton label="Responder" (click)="goToSurvey(survey)"></button>
    <button pButton label="Ver Resultados" (click)="goToResults(survey)"></button>
  </div>
</div>
</div>